* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #dfcbf1;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  width: 100%;
  margin: 0;
  padding: 0;
}

header {
  background-color: #f2f2f2; /* Cor de fundo da faixa */
  border-bottom: 2px solid #d8c1f1; /* Borda inferior branca */
  color: #2f4f4f; /* Cor do texto dentro da faixa */
  width: 100%; /* Largura total */
}

/* Estilos para o contêiner principal */
.messenger h2 {
  text-shadow: 3px 3px #9171ba;
  font-style: italic; /* Define o estilo da fonte como cursiva */
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 800;
  z-index: 2; /* Garante que a barra lateral esteja na frente do botão */
  text-align: center;
  z-index: 1000; /* Garante que o rodapé esteja acima de outros elementos */
  margin-top: 20px;
}

/* Estilos para a barra lateral */

.sidebar {
  display: flex;
  flex-direction: column; /* Altera o fluxo para uma coluna */
  align-items: flex-start; /* Alinha os itens à esquerda */
  padding: 20px; /* Adiciona um espaço interno */
  font-style: italic; /* Define o estilo da fonte como cursiva */
  font-family: Arial, Helvetica, sans-serif;
  z-index: 2; /* Garante que a barra lateral esteja na frente do botão */
}
.sidebar .social-icons {
  display: flex;
  align-items: center;
  flex-direction: column; /* Define a direção dos itens para uma coluna */
}
.sidebar .social-icons a {
  margin-bottom: 30px; /* Adiciona espaço entre os ícones */
  color: black; /* Cor do texto */
  font-weight: normal; /* Peso da fonte */
  transition: color 0.9s; /* Transição suave de cor */
}
/* Estilo quando o mouse passa sobre o texto */

.sidebar a:hover {
  color: #9171ba; /* Nova cor ao passar o mouse */
  font-weight: bold; /* Texto em negrito */
}

/* Estilos para o conteúdo principal */
.submit-button {
  padding: 25px;
  background-color: #c69aed;
  gap: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.submit {
  width: 90px;
  height: 90px;
  border: none; /* Remove a borda do botão */
  border-radius: 30px; /* Adiciona bordas arredondadas ao botão */
  font-weight: 500;
  cursor: pointer; /* Muda o cursor para indicar que o botão é clicável */
  outline: none;
  font-size: 14px; /* Define o tamanho da fonte do botão */
  transition: background-color 0.3s; /* Adiciona uma transição suave à cor de fundo do botão */
  background-color: transparent; /* Remove a cor de fundo para tornar o link clicável */
}

.button-1 {
  background-color: #9171ba;
}

.button-2 {
  background-color: #71ba91;
}
.button-3 {
  background-color: #91ba71;
}
.button-4 {
  background-color: #ba9171;
}
.submit a {
  text-decoration: none;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
/* Adicione espaço entre os botões */
.submit-button button + button {
  margin-top: 10px;
}
.submit:hover {
  background-color: #d8c1f1;
}

.footer {
  background-color: #c69aed;
  text-align: center;
  padding: 10px;
  position: relative;
  align-items: center; /* Centraliza os itens na horizontal */
}
