/* Reset de margens e preenchimentos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-image: url("https://images.unsplash.com/photo-1612152916525-a569e78ed905?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  pointer-events: auto;
  background-size: 100%;
  opacity: 0.9;
  position: absolute;
  width: 100%;
}

header {
  display: flexbox;
  background-color: rgb(219, 129, 242); /* Cor de fundo da faixa */
  border-bottom: 2px solid #d8c1f1; /* Borda inferior branca */
  color: #2f4f4f; /* Cor do texto dentro da faixa */
  width: 100%; /* Largura total */
}
/* Estilos para o contêiner principal */
.profile {
  padding: 10px; /* espaço ao redor do conteúdo*/
  text-shadow: 2px 1px #d8c1f1; /*sombra no texto*/
  text-align: center;
}

/* Estilos para a imagem em tela cheia */

#project1 #project2 #project3 {
  display: flex;
  flex-wrap: wrap;
  align-items: justify;
  top: 20px;
}

.project p {
  margin: 5px;
  padding: 5px;
  text-align: justify;
}
.project h2 {
  margin: 10px;
  padding: 5px;
  text-align: center;
}
.project h3 {
  margin: 5px;
  padding: 15px;
}

/* Estilos para o conteúdo principal */

.submit-button {
  padding: 0 0 15px 0;
  gap: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.submit {
  width: 90px;
  height: 90px;
  border: none; /* Remove a borda do botão */
  border-radius: 30%; /* Adiciona bordas arredondadas ao botão */
  font-weight: 500;
  cursor: pointer; /* Muda o cursor para indicar que o botão é clicável */
  outline: none;
  font-size: 14px; /* Define o tamanho da fonte do botão */
  transition: background-color 0.3s; /* Adiciona uma transição suave à cor de fundo do botão */
  background-color: transparent; /* Remove a cor de fundo para tornar o link clicável */
}

.button-1 {
  background-color: #9171ba;
}

.button-2 {
  background-color: #71ba91;
}
.button-3 {
  background-color: #91ba71;
}
.button-4 {
  background-color: #ba9171;
}
.submit a {
  text-decoration: none;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
/* Adicione espaço entre os botões */
.submit-button button + button {
  margin-top: 10px;
}
.submit:hover {
  background-color: #d8c1f1;
}
.footer {
  background-color: #9171ba;
  text-align: center;
  padding: 10px;
  position: relative;
  align-items: center; /* Centraliza os itens na horizontal */
}
.footer h5 {
  margin: 10px;
}

@media (max-width: 768px) {
  .submit-button {
    display: flex;
    justify-content: center;
    position: static; /* Muda a posição para estática para que o botão siga o fluxo do documento */
    margin: 10% auto; /* Centraliza o botão horizontalmente com uma margem superior de 20px */
    bottom: auto; /* Remove o posicionamento do fundo */
    left: auto; /* Remove o posicionamento da margem esquerda */
    z-index: auto; /* Remove a sobreposição */
  }
  .img {
    width: 100%;
    height: auto;
  }
  .footer {
    position: relative;
  }
}
